/* 01_nav_footer.css */
/* 아래에 코드를 작성해 주세요. */
/* section {
    padding-top: 50px; padding-bottom: 50px;
  } */


  /* footer를 화면 하단에 고정하고자 할 때는 position:fixed를 이용하기  */
footer {
    position : fixed;
    bottom : 0;
    left : 0;
    width: 100%;
    text-align: center;
}

body {
  padding-top: 80px;
}