/* 01_nav_footer.css */
/* 아래에 코드를 작성해 주세요. */
/* section {
    padding-top: 50px; padding-bottom: 50px;
  } */

footer {
    position : fixed;
    bottom : 0;
    left : 0;
    width: 100%;
    text-align: center;
}

body {
  padding-top: 80px;
}