{% extends 'base.html' %} 


{% block content %}

<h1> DETAIL</h1>
<div id="article-content">
    <p>글 제목 : {{movie.title}}</p>
    <p>글 내용 : {{movie.description}}</p>

    <hr>
    
    {% if user.is_authenticated %}
      
    <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
    <form action="{% url 'movies:delete' movie.pk %}" >
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>

    {% endif %}

    <a href="{% url 'movies:index' %}">[BACK]</a>
</div>


{% endblock content %}